body {
	background: #1f1f1f;
	color: #eee;
	font-family: 'Raleway', sans-serif;
	letter-spacing: 0.015em;
}
.navbar {
	font-family: 'Montserrat', sans-serif;
	text-transform: uppercase;

}
.navbar li a.new-account, .navbar li a.new-account:hover {
	background: #022;
	color: #eee;
}
.navbar li a.new-account:hover {
	background: #024;
}
.navbar li a.dropdown-toggle.active {
	background: #024;
}
.page-header {
	background: url(../imgs/cs-go-admin-header.jpg) center center no-repeat;
	padding: 0;
	margin: -21px 0 20px;
	height: 120px;
	border-bottom: 1px solid #202020;
}
.page-header h1 {
	padding: 41px 0 0 40px;
	height: 0;
	font-weight: 800;
	text-transform: uppercase;
}

.page-header.torneios {
	background: url(../imgs/torneios-admin-header.jpg) no-repeat center left;
}
.breadcrumb {
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#222222+0,222222+100&0.01+0,0.65+100 */
	background: -moz-linear-gradient(left, rgba(34,34,34,0.01) 0%, rgba(34,34,34,0.65) 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(left, rgba(34,34,34,0.01) 0%,rgba(34,34,34,0.65) 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to right, rgba(34,34,34,0.01) 0%,rgba(34,34,34,0.65) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#03222222', endColorstr='#a6222222',GradientType=1 ); /* IE6-9 */
	color: #eee;
	text-align: right;
}
.breadcrumb a {
	color: #fc9;
}
.breadcrumb > li + li:before {
	content: "\00BB";
	padding: 0 6px 0 2px;
}
.breadcrumb > li:first-child + li:before {
	content: "";
	padding: 0 2px;
}
.alert-warning {
	color: #fff;
	background-color: rgba(120,120,60,0.3);
	border: none;
}
.alert-success {
	color: #fff;
	background-color: rgba(150,255,0,0.15);
	border: none;
}
.alert-success a.alert-link, .alert-success a.alert-link:hover{
	color: #96ff00;
	font-weight: normal;
}
.center-block {
	display: block;
	margin-left: auto;
	margin-right: auto;
}
h4 {
	color: #f90;
}
form h4 {
	font-size: 24px;
	text-transform: uppercase;
	font-weight: 700;
}
form, .form-control-static {
	font-family: 'Montserrat', sans-serif !important;	
}
form label, .control-label {
	font-size: 18px;
	font-weight: 400;
	color: #dc0;
}
form .radio label {
	color: #fff;
	font-family: 'Montserrat', sans-serif !important;
	font-size: 16px;
}
.form-control, .form-control input[type="text"] {
	background: #333;
	color: #ffffc0 !important;
	border: none;
	border-radius: 0;
	/*border-bottom: solid 1px #ccc;*/
}
.form-horizontal .control-label {
	text-align: left;
	padding: 0;
	margin: 0;
}
hr {
	border-top-color: transparent;
}
select {
	background: #fff !important;
}
::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #999 !important;
}
::-moz-placeholder { /* Firefox 19+ */
  color: #d0d0d0 !important;
}
:-ms-input-placeholder { /* IE 10+ */
  color: #d0d0d0 !important;
}
:-moz-placeholder { /* Firefox 18- */
  color: #d0d0d0 !important;
}
.username {
	color: #3c3;
}
.full {
	float: left;
	width: 100%;
	overflow: hidden;	
	margin-top: -20px;
}

#masthead {
	background: url(../imgs/banner_1.jpg) center center no-repeat;
	font-family: "Montserrat", sans-serif;
	padding-top: 15vh;
	/*padding-left: 80px;*/
}
#masthead h2 {
	text-transform: uppercase;
	font-size: 50px;
	font-weight: 700;
	line-height: 1.5;
}
#masthead h2 small {
	font-weight: 500;
	font-size: 28px;
	display: block;
	color: #fff;
}
#masthead h2 small tt {
	text-decoration: line-through;
}
#masthead h3 {
	font-weight: 400;
	text-transform: uppercase;
	font-size: 20px;
	background: rgba(0,0,0,.7);
	padding: 0.5em;
	max-width: 570px;
	margin: -10px 0 40px;
}
#masthead button {
	font-size: 24px;
	text-transform: uppercase;
	-webkit-box-shadow: 1px 1px 3px rgba(0,0,0,.25);
	box-shadow: 1px 1px 3px rgba(0,0,0,.25);
	padding: 0.5em 1em;
	background: rgba(48,192,48,.8);
}
#proplayer {
	background: url(../imgs/banner_2.jpg) center center no-repeat;
	padding-top: 25vh;
}
#proplayer h2 {
	font-family: "Montserrat", sans-serif;
	font-size: 40px;
	font-weight: 700;
	text-transform: uppercase;
	line-height: 1.35;
}
#proplayer p {
	font-family: "Raleway", sans-serif;
	font-size: 22px;
	line-height: 1.7;
}
#proplayer .row .row {
	margin-bottom: 2em;
}
#proplayer .row .row .col-sm-5 {
	vertical-align: middle;
	text-align: center;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	align-items: center;
  	justify-content: center;
}
#training {
	background: url(../imgs/banner_3a.jpg) center center no-repeat;
	padding-top: 15vh;
}
#training h2 {
	font-family: "Montserrat", sans-serif;
	text-transform: uppercase;
	font-size: 50px;
	font-weight: 700;
	line-height: 1.5;
}
#training h2 small {
	font-weight: 500;
	font-size: 28px;
	display: block;
	color: #fff;
}
#training h3, #training p {
	font-family: "Raleway", sans-serif;
	font-size: 28px;
	line-height: 1.35;
	text-shadow: 1px 1px 2px rgba(0,0,0,.6);
}
#training p {
	padding-top: 10px;
	font-size: 18px;
	line-height: 1.75;
}
#engage {
	background: url(../imgs/banner_4.jpg) center center no-repeat;
	padding-top: 15vh;
}
#engage h2 {
	font-family: "Montserrat", sans-serif;
	text-transform: uppercase;
	font-size: 50px;
	font-weight: 700;
	line-height: 1.5;
	margin-bottom: 40px;
}
#engage h2 small {
	font-weight: 500;
	font-size: 28px;
	display: block;
	color: #fff;
}
#engage h2 small.big {
	font-size: 40px;
	font-weight: 700;
}
#engage p {
	font-family: "Raleway", sans-serif;
	font-size: 22px;
	line-height: 1.75;
	text-shadow: 1px 1px 2px rgba(0,0,0,.6);
}
#masthead, #proplayer, #training, #engage {
	background-size: cover;
	min-height: 320px;
	height: 94vh;
	max-height: 940px;
}
body.bg-login {
	background: url(../imgs/bg-login.jpg) center center no-repeat fixed;
	background-size: cover;
	height: 100vh;
}
body.bg-login {
	/*color: #fff;*/
}
body.bg-login .checkbox label, body.bg-login .checkbox a {
	font-size: 15px;
	font-weight: 400;
	font-family: "Raleway", sans-serif;
	color: #fff;
}
body.bg-generic {
	background: url(../imgs/bg-generic.jpg) center center no-repeat;
}
#no-team {
	font-size: 1.5em;
}
.sinister-team .row {
	margin-bottom: 5px;
}
.table-striped td {
	font-family: 'Montserrat', sans-serif !important;
	font-size: 16px;
	padding: 14px 20px !important;
	border-bottom: #202020;
}
.table-striped > tbody > tr:nth-of-type(odd) {
	background: #303635;
}
.table-hover > tbody > tr:hover {
	background: #3f7066;
	cursor: pointer;
}
.table-striped th {
	background: #274b44;
	font-size: 18px;
	font-weight: 700;
	text-transform: uppercase;
	color: #dfdfdf;
	padding: 14px 20px !important;
}
.table-striped > tfoot > tr > td {
	margin: 0 !important;
	padding: 0 !important;
	background: #1F332F;
} 
.pagination {
	margin: 6px 0 0 !important;
	padding: 0 !important;
}
.pagination > li > a {
	background: #1F332F;
	color: #fff;
	border: none !important;
	font-weight: 400;
}
.pagination > .disabled > a, .pagination > .disabled > a:hover {
	background: #1F332F;
	color: #666;
}
.table > thead > tr > th, .table > tbody > tr > th, .table > tfoot > tr > th, .table > thead > tr > td, .table > tbody > tr > td, .table > tfoot > tr > td {
	border-top: 1px solid #202020;
}
.login-box {
	padding-top: 40px;
}
.btn-teal {
	background: teal;
	text-shadow: 1px 1px 3px rgba(0,0,0,.2);
	font-weight: 700;
	text-transform: uppercase;
}
.btn-teal:hover {
	color: #fff;
	background: cadetblue;
}
.btn-white {
	background: lightgrey;
	text-shadow: 1px 1px 1px rgba(0,0,0,.15);
	color: teal;
	font-weight: 700;
	text-transform: uppercase;
}
.btn-white:hover {
	color: teal;
	background: #fff;
}
.btn-green {
	background: #290;
	border-color: #290;
	color: #fff;
}
.btn-yellow {
	background: #cc3;
	border-color: #cc3;
	color: #333;
}
.btn-blue {
	background: #369;
	border-color: #369;
	color: #fff;
}
.create-new-account {
	margin-top: 40px;
	padding-top: 40px;
	border-top: solid 2px #444;
}
.row.reset {
	padding: 0;
	margin-top: -15px;
	margin-bottom: 15px;
}
.row.actionbar {
	margin: 40px 0;
	padding: 10px 0;
	background: #222;
	border-top: solid 1px #333;
}
.search-results {
	text-transform: uppercase;
	font-weight: 400;
	font-size: 30px;
	border-bottom: solid 1px #2c2c2c;
	padding-bottom: 8px;
	margin-bottom: 20px;
}
/* select */
div.cs-skin-elastic .cs-placeholder, .cs-skin-elastic .cs-options > ul::before, .cs-skin-elastic.cs-active .cs-options > ul::before  {
	background: #2c2c2c;
	color: #fff;
}
.cs-select span {
	padding: 8px;
}
.cs-skin-elastic .cs-options span {
	padding: 4px 8px;
	background: #2c2c2c;
	color: #fff;
}
div.cs-skin-elastic .cs-placeholder, .cs-skin-elastic .cs-options span:hover, .cs-skin-elastic .cs-options li.cs-focus span, .cs-skin-elastic .cs-options .cs-selected span {
	color: #fc0;
}
.cs-skin-elastic .cs-options {
	padding-bottom: 0px;
}
.cs-placeholder, .cs-skin-elastic .cs-options span {
	/*font-family: "Montserrat";*/
	font-family: "Raleway";
	font-weight: 400;
	font-size: 16px;
}
.custom-control-description {
	font-family: "Montserrat";
	/*font-family: "Raleway";*/
	font-weight: 400;
	font-size: 16px;	
}
.white-icon {
	font-size: 18px;
	color: #fff;
}
.label-text {
	display: block;
	font-size: 18px;
}
ul.list-unstyled {
	font-family: "Montserrat", sans-serif;
}
ul.list-unstyled em {
	color: #dc0;
	font-style: normal;
}
.display-1 {
	font-size: 60px;
}
.display-2 {
	font-size: 48px;
}
.display-3 {
	font-size: 36px;
	text-transform: uppercase;
}
.display-4 {
	font-size: 30px;
}
.display-3 em {
	font-style: normal;
	color: #fff;
	font-weight: 800;
}
h5.display-4 {
	line-height: 1.5;
	font-size: 24px;
}
dl dt {
	font-size: 1.8em;
	font-weight: 400;
	color: #f90;
}
dl dd {
	padding: 1em;
	font-size: 1.4em;
	margin-bottom: 1em;
	border-left: solid 3px #666;
	background: rgba(40,40,40,.8);
}
dl dd em {
	color: #666;
}
.assinatura li {
	font-size: 18px;
}
.store {
	text-align: center;
	font-family: "Montserrat", sans-serif;
	margin-bottom: 1.5em;
}
.store .col-sm-3, .store .col-sm-4 {
	border: solid 1px #333;
	background: #262626;	
}
.store h2.small {
	position: absolute;
	margin-top: -40px;
}
.store h3 {
	margin-top: 30px;
}
.store .display-1 {
	font-weight: 800;
}
.store .select-store {
	display: block;
	margin: 0 auto 20px;
	max-width: 200px;
	text-align: left;
}

/* Ribbon */
.wrapper {
  margin: 0px 10px;
  width: 27%;
  height: 460px;
  background: white;
  border-radius: 10px;
  -webkit-box-shadow: 0px 0px 8px rgba(0,0,0,0.3);
  -moz-box-shadow:    0px 0px 8px rgba(0,0,0,0.3);
  box-shadow:         0px 0px 8px rgba(0,0,0,0.3);
  position: relative;
  z-index: 90;
}

.ribbon-wrapper-green {
  width: 85px;
  height: 88px;
  overflow: hidden;
  position: absolute;
  top: -3px;
  right: 185px;
}

.ribbon-green {
  font: bold 15px Sans-Serif;
  color: #fff;
  text-align: center;
  text-shadow: rgba(0,0,0,0.5) 0px 1px 0px;
  -webkit-transform: rotate(-45deg);
  -moz-transform:    rotate(-45deg);
  -ms-transform:     rotate(-45deg);
  -o-transform:      rotate(-45deg);
  position: relative;
  padding: 7px 0;
  left: -28px;
  top: 15px;
  width: 120px;
  background-color: #c00;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#c00), to(#900)); 
  background-image: -webkit-linear-gradient(top, #c00, #900); 
  background-image:    -moz-linear-gradient(top, #c00, #900); 
  background-image:     -ms-linear-gradient(top, #c00, #900); 
  background-image:      -o-linear-gradient(top, #c00, #900); 
  color: #dc0;
  -webkit-box-shadow: 0px 0px 3px rgba(0,0,0,0.3);
  -moz-box-shadow:    0px 0px 3px rgba(0,0,0,0.3);
  box-shadow:         0px 0px 3px rgba(0,0,0,0.3);
}

.ribbon-green:before, .ribbon-green:after {
  content: "";
  border-top:   3px solid transparent;   
  border-left:  3px solid transparent;
  border-right: 3px solid transparent;
  position:absolute;
  bottom: -3px;
}

.ribbon-green:before {
  left: 0;
}
.ribbon-green:after {
  right: 0;
}​

/* Tabs */
.nav-tabs {
	border-bottom: solid 1px #3f3f3f;
}
.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus {
	color: #fff;
	cursor: default;
	background-color: #333;
	border: 1px solid #3f3f3f;
	border-bottom-color: transparent;
}
.nav-tabs > li > a {
	color: #fff;
	cursor: pointer;
	background-color: transparent;
	margin-right: 5px;
	border-bottom-color: transparent;
	font-size: 16px;
	text-transform: uppercase;
	padding: 14px 28px;
}
.nav-tabs > li > a:hover {
	border: 1px solid #3f3f3f;
	border-bottom-color: transparent;
	background: transparent;
}
.tab-pane {
	padding: 2em;
}
#partida-em-andamento .cs-go, #partidas-terminadas .cs-go, #proximas-partidas .cs-go {
	padding: 1em;
	margin: 1em 0;
	font-family: "Montserrat";
	font-weight: 800;
}
#partida-em-andamento .cs-go, #partidas-terminadas .cs-go, #proximas-partidas .cs-go {
	background: url(../imgs/csgo-background-match.jpg) no-repeat center center;
}
#partidas-terminadas {
	margin: 120px 0 0 !important;
}
.upload-results {
	margin-bottom: 2em;
}
.matches .empty, .empty {
	min-height: 50px;
}
.empty-20 {
	min-height: 20px;
}
.matches {
	font-size: 21px;
	font-family: "Montserrat";
}
.matches div {
	overflow: hidden;
	vertical-align: middle;
	text-align: center;
	padding: 10px 0;
}
.matches .even {
	background: #333;
}
.matches .odd {
	background: #222;
}
.matches img {
	max-width: 60px;
}
.matches .table tbody > tr > td {
	vertical-align: middle;
	font-size: 18px;
	text-transform: uppercase;
	font-family: "Montserrat", sans-serif !important;
	text-align: center;
}
.matches .map {
	color: #f90;
}
.matches h4, .matches h5 {
	margin: 0;
	padding: 0;
}
.matches h4 {
	line-height: 1.8;
	margin-top: -5px;
}
.matches div.img {
	width: 70px;
	height: 50px;
}
/*.matches .score {
	font-size: 22px !important;
}*/
.matches > div > img {
	position: absolute;
	width: 100px;
	margin-top: -20px;
	margin-left: -50px;
	height: 70px;
	opacity: .5;
}
.match-results img {
	max-width: 40px;
}
.match-results .table tbody > tr > td {
	font-size: 14px;
}
.match-highlight {
	margin-bottom: 40px;
}
.match-highlight > div > img {
	position: relative;
	width: 100px;
	margin-top: auto;
	margin-left: auto;
	text-align: center !important;
	height: 70px;
	opacity: 1;
}
.match-highlight {
	margin: 40px auto;
	display: flex;
	align-items: center;
	justify-content: center;
	background: #444;
	font-size: 18px;
	text-transform: uppercase;
}
.match-highlight > div {
	flex: 1;
	/*min-height: 90px;*/
}
.match-highlight h4 {
	text-transform: uppercase;
	line-height: 1;
	margin-top: 10px;	
}
.match-highlight h4 small {
	display: block;
	color: #fff;
	font-size: 14px;
	line-height: 2;
}
.all-matches {
	margin-bottom: 100px;
}
.all-matches a {
	font-size: 20px;
}
.next-matches {
	margin: 40px 0;
}
.next-matches .table > tbody > tr > td {
	font-size: 14px;
}
.next-matches .table-striped > tbody > tr > td {
	padding: 6px 18px !important;
}
.next-matches img {
	max-width: 40px;
}
.lineup img {
	width: 100%;
}
.hashtag {
	display: block;
	font-size: 13px;
	color: #583;
	font-style: italic;
}
.match-details .players img {
	display: block;
}
.match-details .map-background {
	position: absolute;
	z-index: -1;
	opacity: .3;
	background: url('../imgs/csgo-de-safehouse.png') center center;
	background-size: cover;
	width: 100%;
	max-width: 1136px;
	height: 360px;
	padding-bottom: 100px;
}
.match-details .match-highlight {
	background: rgba(30,30,30,.6);
}
.match-details .team {
	margin-top: -10px;
}
.match-details .team.left {
	padding: 0 34px;
}
.match-details .team.right {
	padding-left: 56px;
}
.match-details .team .name {
	font-size: 16px;
	text-transform: uppercase;
}
.match-details .team .name small {
	font-size: 16px;
	color: #fff;
}
.match-details .team .players a {
	color: #fc9;
	font-size: 12px;
}
.match-details .team .players .team-manager {
	display: block;
	margin-top: 8px;
	text-transform: uppercase;
	font-size: 13px;
}
.match-details .twitch {
	color: #f90;
	font-size: 24px;
	text-transform: uppercase;
	font-family: "Montserrat", sans-serif;
	margin-bottom: 40px;
}
.match-details .twitch i {
	position: absolute;
	margin-top: 100px;
}
.match-details .hashtag {
	text-transform: uppercase;
}
.tournament table tr td {
	text-align: left !important;
}
.tournament table tr td em {
	color: #f90;
}


@media (min-width: 320px) and (max-width: 767px) {
	#proplayer {
		background: url(../imgs/banner_2.jpg) center center no-repeat;
		padding-top: 0;
	}
	#proplayer h2 {
		font-family: "Montserrat", sans-serif;
		font-size: 40px;
		font-weight: 700;
		text-transform: uppercase;
		line-height: 1.35;
	}
	#proplayer p {
		font-family: "Raleway", sans-serif;
		font-size: 22px;
		line-height: 1.7;
	}
	#proplayer .row .row {
		margin-bottom: 0;
	}
	#proplayer .row .row .col-sm-5 {
		width: 100%;
		display: block;
	}
	#masthead, #proplayer, #training, #engage {
		background-size: cover;
		min-height: 100%;
		height: auto;
		max-height: 4000px;
	}
}
@media (min-width: 361px) and (max-width: 480px) {

}
@media (min-width: 481px) and (max-width: 568px) {

}
@media (min-width: 569px) and (max-width: 640px) {

}
@media (min-width: 641px) and (max-width: 736px) {

}